* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(251, 232, 197);
  font-family: Arial; /* All elements will change to this font get inhertierd. all child ele of body will auto get font family assigned to them*/
  font-size: 16px;
  padding: 50px;
}

h1 {
  font-size: 35px;
  margin-bottom: 25px;
}
h2 {
  margin-bottom: 20px;
  text-align: center;
}

p {
  margin-bottom: 20px;
}

.first {
  color: red;
}

#your-name {
  background-color: rgb(255, 223, 117);
  border: 5px solid rgb(139, 139, 139);
  width: 400px;
  padding: 25px;
  margin-top: 25px;
}
.button {
  width: 173px;
}

#course-image {
  object-fit: cover;
  width: 100%;
  height: 250px;
  margin: 25px;
  border: 2px solid;
  margin-left: 0%;
}

input,
button {
  padding: 10px;
  font-size: 12px;
}

a {
  background-color: yellowgreen;
}

#your-name h2 {
  color: olivedrab;
}
